PORT=7100
DATABASE_URL="postgresql://user:password@host:port/db-name?schema=auth"

GLOBAL_LIMIT_WINDOW=900000
GLOBAL_LIMIT_MAX=100

JWT_ISSUER=EXAMPLE_ISSUER
JWT_AUD=EXAMPLE_AUD
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

PUBLIC_KEY_PATH=./keys/example-public.pem
PRIVATE_KEY_PATH=./keys/example-private.pem

BCRYPT_ROUNDS=12

# MAILEROO SETUP
EMAIL_SENDING_KEY=EXAMPLE_SENDING_KEY
EMAIL_API_URL=SMTP_API_URL
EMAIL_USERNAME=EXAMPLE_EMAIL_USERNAME
EMAIL_DOMAIN=EXAMPLE_EMAIL_DOMAIN
EMAIL_RESET_PASSWORD_TEMPLATE=EXAMPLE_EMAIL_TEMPLATE